<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rebelbean Alert</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">



  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://monosnap.com/image/NX8UktM4OJWx5FFc8nUiiQXXzMxWtg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Sign up for the Rebelbean alert!</h1>
        <p class="lead">Enter your email address and sign up. You will receive email notification everytime new Test Roast is available. Lets try unique coffees you will not have change to get anymore.</p>
        <form method="POST" action=/signed_up" class="form-inline" id="signup-form">

          <div class="form-group input-group-lg">
            <input type="email" name="signup" class="form-control input-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Sign up</button>

        </form>

      </div>
    </div>
  </div>
<div class="container col-xxl-8 px-4 py-5">
  <h1 class="display-5 fw-bold lh-1 mb-3">What is Test Roast?</h1>
  <p class="lead">In order for our coffees to be at the top of the production range at the moment of inclusion, we first need to test how they behave in the roaster and taste everything thoroughly. Or maybe we just occasionally want to try a different approach in order to make it even better. But sometimes it doesn't quite work out the way we want it too... Don't worry, it's not a burnt coal or orange under-roasted grain, we just haven't reached its full potential. Most of the time, you'll find these coffees in our team's homes, but our own consumption is not keeping up. So you can play this game with us too! Don't ask what kind of coffee it is, how or when it was roasted. It's probably a coffee we're still working on, maybe even a limited edition, who knows! <a href="https://www.rebelbean.cz/test-roast/">Check it out!</a></p>
</div>
</body>